<div class="proyectos">
    <h1>Proyectos</h1>

    <ul class="experiencias">
        <li style="list-style:none">
            <div class="data-container">
                <img [src]="miportfolio.direcciones.logomaleta" alt="Maletin" class="maleta">
            </div>
            <div class="info">
                <h2>{{miportfolio.proyectos.name}}</h2>
                <p>{{miportfolio.proyectos.desc}}</p>
            </div>
        </li>
    </ul>
    
</div>




<!--

    <div class="proyecto1">
        <img src="./assets/Maleta.png" alt="Maletin" class="maleta">
        <div class="texto1">
            <h2>Portfolio WEB</h2>
            <p>Desarrollé una aplicación WEB la cual es mi Portfolio, en el cual se puede ver mi experiencia, educación, skills y proyectos producidos.</p>
        </div>
    </div>

-->