<div class="experiencia">
    <h1>Experiencia</h1>
    <!--Logo Comfye-->
    
 
    <ul class="experiencias">
        <li style="list-style:none">
            <div class="data-container">
                <a href="https://comfye.com/">
                    <img [src]="miportfolio.direcciones.logocomfye" alt="logocomfye" class="logocomfye"> 
                </a>
            </div>
            <div class="info">
                <h2>{{miportfolio.experiencia.trabajo1.puesto}}</h2>
                <h4>{{miportfolio.experiencia.trabajo1.organizacion}}</h4>
                <h4>{{miportfolio.experiencia.trabajo1.temp}}</h4>
            </div>
        </li>
    </ul>

   
</div>



<!--
    CODIGO ANTERIOR
    <div class="experiencia1">
        <a href="https://comfye.com/">
            <img src="./assets/Comfye.png" alt="logocomfye" class="logocomfye"> 
        </a>
        <div class="texto1">
            <h2>Análisis de sistemas, Full Stack Developer</h2>
            <h4>Comfye - Jornada parcial</h4>
            <h4>Feb 2021 - Nov 2021 (10 Meses)</h4>
        </div>
    </div>

-->