<div class="skills">
    <h1>Skills</h1>
    
    <div class="partes">


        <div class="parteizquierda">
            <h2>Soft Skills</h2>
            <p><br>{{miportfolio.skills.TE}}</p>
            <p>{{miportfolio.skills.PA}}</p>
            <p>{{miportfolio.skills.CO}}</p>
            <p>{{miportfolio.skills.LI}}</p>
        </div>
        
        
        <div class="partederecha">
            <h2>Hard Skills</h2>
            <p class="ma"><br>{{miportfolio.skills.CMA}}</p>
            <p>{{miportfolio.skills.C}}</p>
            <p>{{miportfolio.skills.HC}}</p>
            <p>{{miportfolio.skills.AN}}</p> 
        </div>
    </div>
</div>

<!--<div class="partes"> 


    <div class="parteizquierda">
        <h2>Soft Skills</h2>
        
        <p><br>Trabajo en equipo</p>
        <div class="barra">
            <div class="barra100"></div>
        </div>
    
        <p>Pensamiento analítico</p>
        <div class="barra">
            <div class="barra100"></div>
        </div>
        
        <p>Comunicación</p>
        <div class="barra">
            <div class="barra100"></div>
        </div>

        <p>Liderazgo</p>
        <div class="barra">
            <div class="barra90"></div>
        </div>
        
    </div>
    
    
    <div class="partederecha">
        <h2>Hard Skills</h2>
        
        <p class="ma">Conocimiento de <br>metodologías ágiles</p>
        <div class="barra">
            <div class="barra100"></div>
        </div>
        
        
        <p>C</p>
        <div class="barra">
            <div class="barra90"></div>
        </div>
        
        <p>HTML/CSS</p>
        <div class="barra">
            <div class="barra90"></div>
        </div>

        <p>ANGULAR</p>
        <div class="barra">
            <div class="barra90"></div>
        </div>
    </div>
</div>

-->